@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Raleway:400,500,600,700,800,900|Roboto:400,500,700,900|Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:300,400,500,600,700,800,900&display=swap');

$black: #161616;
$beige: #F4EBDE;
$darkbeige: #7D745E;
$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;
$roboto: 'roboto', sans-serif;
$robotoCondensed: 'Roboto Condensed', sans-serif;
$sairaCondensed: 'Saira Extra Condensed', sans-serif;
$yeseva-one: 'Yeseva One', sans-serif;

html, body {
  font-family: $roboto;
  letter-spacing: 1.5px;
}
h2 {
    font-family: $sairaCondensed;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0px;
    &::before {
        content: '';
        display: inline-block;
        height: 1px;
        background: $black;
        width: 40%;
        float: left;
        margin-top: 16px;
    }
    &::after {
        content: '';
        display: inline-block;
        height: 1px;
        background: $black;
        width: 40%;
        float: right;
        margin-top: 16px;
    }
}
p {
    color: #999;
}

@media (max-width: 768px) {
    h2 {
        font-family: $sairaCondensed;
        font-weight: bold;
        font-size: 2em;
        letter-spacing: 0px;
        &::before {
            content: '';
            display: inline-block;
            height: 1px;
            background: $black;
            width: 30%;
            float: left;
            margin-top: 16px;
        }
        &::after {
            content: '';
            display: inline-block;
            height: 1px;
            background: $black;
            width: 30%;
            float: right;
            margin-top: 16px;
        }
    }
}

.latest-news {
  background-color: $black;
  color: white;
  a {
    color: white;
    &:hover {
      color: darken(white, 10%);
      text-decoration: none;
    }
  }
}

.nav {
  background-color: $beige;
  text-transform: uppercase;
  .navbar-nav a.nav-link {
    padding: 1em 20px;
    font-size: 0.9em;
    font-weight: 500;

  }
  .active {
    font-weight: 900 !important;
  }
}

.slick-slide img {
  opacity: 0.3;
}
.slick-center img {
  opacity: 1;
}

.social a {
    color: $darkbeige;
    &:hover {
        color: lighten($darkbeige, 10%);
    }
}

.button {
  color: $black;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.5em 2.5em;
  text-transform: uppercase;
  border: $black;
  border: 2px solid $black;
  border-radius: 50vh;
  &:hover {
      color: $darkbeige;
  }
}

.portfolio-pieces {
    img {
        object-fit: cover;
         width: 100%;
        height: 300px;
    }
    .over {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: .5s ease;
                background-color: rgba(22, 22, 21, 0.8);
                p {
                    font-size: 1.5em;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: white;
                }
                &:hover {
                    opacity: 1;
                }
                &:focus {
                    opacity: 1;
                }
            }
}

.modal-content {
    padding: 2em;
    position: relative;
    display: block;
    border-radius: 0px;
    min-height: 400px;
    img {
        height: auto;
        width: 220px;
    }

    h2 {
        margin: 0 0 0.5em 0 !important;
        &::before {
            content: '';
            display: inline-block;
            height: 1px;
            background: $black;
            width: 30%;
            float: left;
            margin-top: 16px;
        }
        &::after {
            content: '';
            display: inline-block;
            height: 1px;
            background: $black;
            width: 30%;
            float: right;
            margin-top: 16px;
        }
    }

    h3 {
        font-size: 1.2em;
    }

    p:last-of-type {
        margin-bottom: 0 !important;
    }
}

.modal {
    text-align: center;
    padding: 0 !important;

    button {
        background: none;
        font-weight: normal;
        border: 0;
        float: right;
        position: absolute;
        top: 0;
        right: 2px;
        cursor: pointer;
    }

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
